
.component-gap {
  flex-direction: column;
  gap: 30px;
  display: flex !important;
}

.car-filter {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.car-filter-text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--gray-color);
  cursor: pointer;
  text-align: justify;
}
.car-filter-text.active {
  color: rgb(20, 20, 20);
  border-bottom: 2px solid var(--primary-color);
  font-weight: 500;
  text-decoration-skip-ink: auto;
}

.model-name-text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  color: rgb(20, 20, 20);
  cursor: pointer;
  text-align: justify;
}
.car-list {
  flex-direction: column;
  gap: 10px;
  display: flex !important;
}
.body-type-text {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--light-gray-color);
  text-align: justify;
}

.model-type-text{
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--light-gray-color);
  text-align: justify;
  text-transform: lowercase;
}

.model {
  display: flex;
  gap: 10px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: 3px;
  }
}

.link {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  max-width: 400px;
}

.link-text {
  color: var(--primary-color);
  font-size: 1rem;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.375rem;
  font-weight: 500;
}

.link-type{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.car-img {
  width: 95%;
  max-height: 300px;
  max-width: 400px;
}

.car-img:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 769px) {
  .button-prev {
    transform: rotate(180deg);
    height: 30px;
  }
  .button-next {
    height: 30px;
  }
  .button-nav {
    flex-direction: row !important;
    justify-content: flex-end;
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .button-nav {
    display: none !important;
  }
}
