:root {
  --primary-color: #2a609d;
  --gray-color: #000000a3;
  --light-gray-color: rgb(128, 140, 152);
  --hover-blue: #0000FF;
}
body {
  overflow-x: hidden;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: unset; 
  color: unset; 
  border-bottom: unset
}

a:hover {
  color: unset;
  border-color: unset;
}

button {
  border: none;
  background: none;
}

.logo-img {
  height: 20px;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-slide{
  max-width: 400px;
}
.component-gap {
  flex-direction: column;
  gap: 50px;
  display: flex !important;
}
